<!-- This page was made with the help of this source:-->
<!-- https://www.youtube.com/watch?v=s4dzDhnvznE -->

    <div id="ctn-bars-search">
        <input type="text" id="inputSearch" placeholder="Search">
    </div>


    <ul id="box-search">
        <li><a href="/article"><i class="fas fa-search"></i>PROGRAMMING</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>CRAFTING</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>WORKSHOPS</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>RECREATIONAL</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>DAY-CAMPS</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>FRENCH</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>Article 1</a></li>
        <li><a href="/article"><i class="fas fa-search"></i>Article 3</a></li>
    </ul>

    <div id="cover-ctn-search"></div>

    <!--Portada-->

    <div class="container-all" id="move-content">


        <div class="blog-container-cover">
            <div class="container-info-cover">
                <h1>Blog Page</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aliquam quis fuga beatae blanditiis assumenda.</p>
            </div>
        </div>

        <div class="container-post">

            <input type="radio" id="ALL" name="categories" value="ALL" checked>
            <input type="radio" id="PROGRAMMING" name="categories" value="PROGRAMMING">
            <input type="radio" id="CRAFTING" name="categories" value="CRAFTING">
            <input type="radio" id="WORKSHOPS" name="categories" value="WORKSHOPS">
            <input type="radio" id="RECREATIONAL" name="categories" value="RECREATIONAL">
            <input type="radio" id="DAY-CAMPS" name="categories" value="DAY-CAMPS">
            <input type="radio" id="FRENCH" name="categories" value="FRENCH">

            <div class="container-category">
                <label for="ALL">ALL</label>
                <label for="PROGRAMMING">PROGRAMMING</label>
                <label for="CRAFTING">CRAFTING</label>
                <label for="WORKSHOPS">WORKSHOPS</label>
                <label for="RECREATIONAL">RECREATIONAL</label>
                <label for="DAY-CAMPS">DAY-CAMPS</label>
                <label for="FRENCH">FRENCH</label>
            </div>

            <div class="posts">

                <div class="post" data-category="FRENCH PROGRAMMING">

                    <div class="ctn-img">
                        <img src="../../content/images/slide-1.jpg" alt="">
                    </div>
                    <h2>Article 1</h2>
                    <span>February 24, 2024 - 10:32 am</span>
                    <ul class="ctn-tag">
                        <li>FRENCH</li>
                        <li>PROGRAMMING</li>
                    </ul>
                    <a href="/article"><button>Read more</button></a>

                </div>

                <div class="post" data-category="FRENCH">

                    <div class="ctn-img"><img src="../../content/images/slide-2.jpg" alt=""></div>
                    <h2>Article 2</h2>
                    <span>February 24, 2024 - 10:32 am</span>
                    <ul class="ctn-tag">
                        <li>FRENCH</li>
                    </ul>
                    <a data="#"><button>Read more</button></a>

                </div>

                <div class="post" data-category="FRENCH">

                    <div class="ctn-img"><img src="../../content/images/slide-3.jpg" alt=""></div>
                    <h2>Article 3</h2>
                    <span>February 24, 2024 - 10:32 am</span>
                    <ul class="ctn-tag">
                        <li>FRENCH</li>
                    </ul>
                    <a data="#"><button>Read more</button></a>

                </div>

                <div class="post" data-category="RECREATIONAL">

                    <div class="ctn-img"><img src="../../content/images/slide-4.jpg" alt=""></div>
                    <h2>Article 4</h2>
                    <span>February 24, 2024 - 10:32 am</span>
                    <ul class="ctn-tag">
                        <li>RECREATIONAL</li>
                    </ul>
                    <a data="#"><button>Read more</button></a>

                </div>

                <div class="post" data-category="DAY-CAMPS">

                    <div class="ctn-img"><img src="../../content/images/cartagena.jpg" alt=""></div>
                    <h2>Article 5</h2>
                    <span>February 24, 2024 - 08:32 am</span>
                    <ul class="ctn-tag">
                        <li>DAY-CAMPS</li>
                    </ul>
                    <a data="#"><button>Read more</button></a>

                </div>

                <div class="post" data-category="DAY-CAMPS">

                    <div class="ctn-img"><img src="../../content/images/bogota.jpg" alt=""></div>
                    <h2>Article 6</h2>
                    <span>February 24, 2024 - 08:32 am</span>
                    <ul class="ctn-tag">
                        <li>DAY-CAMPS</li>
                    </ul>
                    <a data="#"><button>Read more</button></a>

                </div>

                <div class="post" data-category="WORKSHOPS CRAFTING">

                    <div class="ctn-img"><img src="../../content/images/workshops.jpg" alt=""></div>
                    <h2>Article 7</h2>
                    <span>February 24, 2024 - 08:32 am</span>
                    <ul class="ctn-tag">
                        <li>WORKSHOPS</li>
                        <li>CRAFTING</li>
                    </ul>
                    <a data="#"><button>Read more</button></a>

                </div>
            </div>

        </div>
    </div>

<!--<footer></footer>-->

<!-- Scripting Section -->
<!--<script>-->
<!--// document.getElementById("icon-menu").addEventListener("click", mostrar_menu);-->
<!--    //-->
<!--    // function mostrar_menu(){-->
<!--    //-->
<!--    //     document.getElementById("move-content").classList.toggle('move-container-all');-->
<!--    //     document.getElementById("show-menu").classList.toggle('show-lateral');-->
<!--    // }-->


<!--    //Buscador de contenido-->


<!--//Ejecutando funciones-->
<!--    document.getElementById("icon-search").addEventListener("click", mostrar_buscador);-->
<!--    document.getElementById("cover-ctn-search").addEventListener("click", ocultar_buscador);-->

<!--//Declarando variables-->
<!--    document.getElementById("ctn-bars-search");-->
<!--    document.getElementById("cover-ctn-search");-->
<!--     document.getElementById("inputSearch");-->
<!--    document.getElementById("box-search");-->


<!--//Funcion para mostrar el buscador-->
<!--    function show_searcher(){-->

<!--        bars_search.style.top = "80px";-->
<!--        cover_ctn_search.style.display = "block";-->
<!--        inputSearch.focus();-->

<!--        if (inputSearch.value === ""){-->
<!--            box_search.style.display = "none";-->
<!--        }-->

<!--    }-->

<!--//Funcion para ocultar el buscador-->
<!--    function hide_searcher(){-->

<!--        bars_search.style.top = "-10px";-->
<!--        cover_ctn_search.style.display = "none";-->
<!--        inputSearch.value = "";-->
<!--        box_search.style.display = "none";-->

<!--    }-->


<!--//Creando filtrado de busqueda-->

<!--    document.getElementById("inputSearch").addEventListener("keyup", buscador_interno);-->

<!--    function internal_searcher(){-->


<!--        filter = inputSearch.value.toUpperCase();-->
<!--        li = box_search.getElementsByTagName("li");-->

<!--        //Recorriendo elementos a filtrar mediante los "li"-->
<!--        for (i = 0; i < li.length; i++){-->

<!--            a = li[i].getElementsByTagName("a")[0];-->
<!--            textValue = a.textContent || a.innerText;-->

<!--            if(textValue.toUpperCase().indexOf(filter) > -1){-->

<!--                li[i].style.display = "";-->
<!--                box_search.style.display = "block";-->

<!--                if (inputSearch.value === ""){-->
<!--                    box_search.style.display = "none";-->
<!--                }-->

<!--            }else{-->
<!--                li[i].style.display = "none";-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->