<!-- Random Dog Image Container -->
<div id="container-dog">
    <img id="dog-image"/>
    <!-- Button to fetch and display a random dog image -->
    <button id="dog-button" onclick="get_random_dog()"> Press here to be happy</button>
</div>

<!-- Upcoming Events Container -->
<div id="events-container">
    <!-- Heading for the upcoming events section -->
    <h1>Upcoming Events</h1>
    <!-- Unordered list to display a list of upcoming events -->
    <ul id="events-list" events()> </ul>
</div>
