<h1>Welcome to Harmony Hub</h1>
        <p>This is the place where you can come and feel welcomed. Whatever the season,
            whatever the reason to gather with our community members and find a place
            where you can develop yourself with others, as well as helping others.
            We hope you enjoy being part of this community and this can help you achieve
            your individual and collective goals.</p>

<!-- Slideshow container -->
<div class="slideshow-container">

    <!-- Full-width images with number -->
    <div class="mySlides fade">
        <!-- Image 1 -->
        <div class="numbertext">1 / 4</div>
        <img src="../../content/images/slide-1.jpg" alt="Background Image 1" style="width: 100%">
    </div>
    <div class="mySlides fade">
        <!-- Image 2 -->
        <div class="numbertext">2 / 4</div>
        <img src="../../content/images/slide-2.jpg" alt="Background Image 2" style="width: 100%">
    </div>
    <div class="mySlides fade">
        <!-- Image 3 -->
        <div class="numbertext">3 / 4</div>
        <img src="../../content/images/slide-3.jpg" alt="Background Image 3" style="width: 100%">
    </div>
    <div class="mySlides fade">
        <!-- Image 4 -->
        <div class="numbertext">4 / 4</div>
        <img src="../../content/images/slide-4.jpg" alt="Background Image 4" style="width: 100%">
    </div>

    <!-- Navigation dots -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
    </div>
    <div id="quote-container">
        <!-- API Information -->
    </div>
    <div id="weather-container">
        <!-- Meteorologic Information -->
    </div>
</div>