<main class="container mt-4"> <!-- Add margin-top to create space between menu and images -->
    <h1>Our Services</h1>
    <!-- Service content -->
    <div class="accordion">
        <!-- Service 1 -->
        <div class="accordion-item">
            <div class="accordion-button" onclick="toggleAccordion('service1')">
                <i class="fa-regular fa-comments"></i>
                <h2> Conversational French Classes</h2>
            </div>
            <div id="service1" class="accordion-content">
                <p>We have a variety of schedules and lessons with small groups, so you can gain confidence.</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum."</p>
            </div>
        </div>
        <!-- Service 2 -->
        <div class="accordion-item">
            <div class="accordion-button" onclick="toggleAccordion('service2')">
                <i class="fa-solid fa-computer"></i>
                <h2> Programming Lessons</h2>
            </div>
            <div id="service2" class="accordion-content">
                <p>Develop your coding skills with a group of tech-enthusiastic just like you.</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum."</p>
            </div>
        </div>
        <!-- Service 3 -->
        <div class="accordion-item">
            <div class="accordion-button" onclick="toggleAccordion('service3')">
                <i class="fa-solid fa-palette"></i>
                <h2> Crafting</h2>
            </div>
            <div id="service3" class="accordion-content">
                <p>From crochet to drawing and lettering, we have different options so you can develop your artistic self.</p>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                    mollit anim id est laborum."</p>
            </div>
        </div>
    </div>
</main>