<main class="container mt-4"> <!-- Add margin-top to create space between menu and images -->
    <h1>Team</h1>
    <section class="team members">
        <div class="members">

            <div class="member">
                <img src="../../content/images/mercelena.jpg" alt="Day Camps" data-bs-toggle="modal" data-bs-target="#mercelenaModal">
                <h3>Mercelena Erazo</h3>
            </div>
            <div class="member">
                <img src="../../content/images/sebastian.jpg" alt="Workshops" data-bs-toggle="modal" data-bs-target="#sebastianModal">
                <h3>Sebastian Gonzalez</h3>
            </div>
            <div class="member">
                <img src="../../content/images/Anh_thu_Huynh.jpg" alt="Workshops" data-bs-toggle="modal" data-bs-target="#anhthuModal">
                <h3>Anh thu Huynh</h3>
            </div>
        </div>
    </section>
</main>

<!-- Team Member Modals -->
<div class="modal" id="mercelenaModal" tabindex="-1" aria-labelledby="mercelenaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mercelenaModalLabel">Mercelena Erazo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add more details about Mercelena here -->
                <p>She was in charge of:<br>
                    Home Page <br>
                    Services Page <br>
                    Blog Page <br>
                    Terms of Service Page <br>
                    Contact List Page</p>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="sebastianModal" tabindex="-1" aria-labelledby="sebastianModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sebastianModalLabel">Sebastian Gonzalez</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add more details about Sebastian here -->
                <p>He was in charge of:<br>
                    Portfolio Page <br>
                    Team Page <br>
                    Privacy Policy Page <br>
                    Contact Page <br></p>
            </div>
        </div>
    </div>
</div>
